/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

/* .app {
  background-color: #f1f2f5;
  height: 100vh;
  display: flex;
} */

/* END DEMO */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.signup {
  border-radius: 20px;
  width: 100px;
}

.messageButton {
  margin: 200px;
}

/* WELCOME PAGE */
.jobContainer {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
}

.Create {
  color: #f4ac33;
}

/* USER EDIT FORM */
.UserEditForm {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
  height: 100vh;
}
.portfolios {
  margin: 20px;
}

.editPortfolioBox {
  width: 10vw;
}
/* END */

/* CCletters */
#CCletters {
  position: absolute;
  top: 45%;
  left: 15%;
}

#CCletters1 {
  position: absolute;
  top: 30%;
  left: 13%;
}

#CCletters2 {
  position: absolute;
  top: 35%;
  left: 13%;
}

#CCletters3 {
  position: absolute;
  top: 40%;
  left: 13%;
}
/* END */

/* CREATE JOBFORM */
.jobForm {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
  color: #ececed;
}

.font {
  font-family: 'Lato', sans-serif;
}
/* END */

/*  */

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
  }
  .card-body {
    width: 50%;
  }
}
