@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Lato', sans-serif;
}

::placeholder {
  color: #738390;
  font-size: 99%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
}

.messageButton {
  margin: 200px;
}

/* WELCOME PAGE */
.jobContainer {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
  color: #ececed;
}

.Create {
  color: #f4ac33;
}

/* USER EDIT FORM */
.UserEditForm {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
  color: #ececed;
  /* height: 100vh; */
}
.portfolios {
  margin: 20px;
}

.editPortfolioBox {
  width: 10vw;
}
/* END */

/* CCletters */
#CCletters {
  position: absolute;
  top: 45%;
  left: 15%;
}

#CCletters1 {
  position: absolute;
  top: 30%;
  left: 13%;
}

#CCletters2 {
  position: absolute;
  top: 35%;
  left: 13%;
}

#CCletters3 {
  position: absolute;
  top: 40%;
  left: 13%;
}
/* END */

/* CREATE JOBFORM */
.jobForm {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
  color: #ececed;
}

.font {
  font-family: 'Lato', sans-serif;
}
/* END */

/*  */

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
  }
  .card-body {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  * {
    width: 100%;
  }
}
