.feed {
  width: 100%;
  margin-top: 55px;
  border: 1px solid;
  border-radius: 15px;
  background-color: linear-gradient(ellipse bottom, #1b2735 0%, #090a0f 100%);
  box-shadow: 4px, 4px, 4px, 4px whitesmoke;
  transition: 1.6s;
  color: #f7f8f8;
}



.feed:hover {
  transform: scale(0.97, 0.97);
}

.feed__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.feed__avatar {
  margin-right: 10px;
  cursor: pointer;
}

.feed__username {
  cursor: pointer;
}

.feed__topInfo > h3 {
  font-size: medium;
}

.feed__topInfo > p {
  font-size: small;
  color: gray;
}

.feed__bottom {
  margin-top: 10px;
  margin-bottom: 1px;
  padding: 15px 25px;
}

.feed__image > img {
  width: 100%;
}

.feed__icon {
  position: relative;
  top: -7px;
  right: 10px;
}

.feed__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.feed__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.feed_option > p {
  margin-left: 15px;
  margin-bottom: 30px;
}

.feed_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}
