.jobsearch {
  background-size: cover;
  margin: 15px;
  padding: 10px;
  height: 20vh;
  width: 62.5vw;
  border-radius: 1%;
  min-width: 400px;
}

.jobsearch input {
  width: 25vw;
  margin: 15px;
}

.jobsearch button {
  height: 3vw;
  margin: 15px;
  border-radius: 100%;
}

.jobsearchfix {
  display: flex;
  justify-content: center;
  min-width: 400px;
}

.gridInnards {
  background-color: white;
  min-width: 400px;
  height: 15vh;
  margin: 20px;
  border-radius: 20px;
}

.jobContainer {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
}
