.jobsearch {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  height: 10vh;
  width: 75vw;
  border-radius: 1%;
  max-height: 8vh;
  min-width: 400px;
}

.jobsearch input {
  width: 45vw;
  margin: 15px;
}

.jobsearch button {
  height: 3vw;
  margin: 15px;
  border-radius: 100%;
  min-width: 3vw;
  min-height: 3vw;
  max-height: 4vh;
}

.jobsearch h3 {
  min-width: 3vw;
  min-height: 3vw;
  max-height: 4vh;
}

.jobsearchfix {
  display: flex;
  justify-content: center;
  min-width: 400px;
}

.gridInnards {
  background-color: white;
  width: 72vw;
  height: 11vh;
  margin-top: 30px;
  border-radius: 10px;
}

.jobContainer {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
  background-position: center;
  background-size: auto;
}

.jobAvatar {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  margin-top: 8px;
  margin-left: 6px;
}
