.jobsearch {
  background-size: cover;
  margin: 10px;
  padding: 10px;
  height: 20vh;
  width: 62.5vw;
  border-radius: 1%;
}

.jobsearch input {
  width: 25vw;
  margin: 15px;
}

.jobsearch button {
  height: 3vw;
  margin: 15px;
  border-radius: 100%;
}

.jobsearchfix {
  display: flex;
  justify-content: center;
  background-color: gray;
  min-width: 400px;
}

.gridBG {
  background-color: gray;
}

.gridInnards {
  background-color: white;
  min-width: 400px;
}
