.change {
  position: absolute;
  top: 30px;
  opacity: 0;
  height: 100px;
  width: 15px;
}
.post {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  background-color: white;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  color: #ececed;
}
.post__text {
  cursor: pointer;
}
.post__top {
  display: flex;
  padding-bottom: 15px;
  padding: 15px;
}

.post__top > form {
  flex: 10;
  border: 1px;
  margin-left: 15px;
  /* display: flex; */
}

.post__top > form > input {
  border: none;
  color: #ececed;
  outline: none;
  width: 400px;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: transparent;
}

.post__top > form > button {
  display: none;
  cursor: pointer;
}

.post__input {
  flex: 1;
}

.post__bottom {
  display: flex;
  justify-content: space-evenly;
}

.post__option {
  padding: 25px;
  display: flex;
  align-items: left;
  color: #e9eaeb;
  margin-right: 25px;
  margin-top: 10px;
}

.post__option > h3 {
  font-size: 16px;
  margin-left: 10px;
}

.post__option:hover {
  transition: 1.1s;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.post__option__pic {
  cursor: pointer;
}
