.profcard {
  padding: 25px;
  width: 30vw;
  height: 60vh;
  border-radius: 20px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 100px;
  top: 450px;
}

.profaction {
  padding: 25px;
  position: absolute;
  height: 25vh;
  width: 50vw;
  right: 100px;
  top: 450px;
  border-radius: 20px;
  border: solid black 1px;
}

.profbody {
  border: solid black 1px;
  border-radius: 20px;
  position: absolute;
  height: 25vh;
  width: 50vw;
  right: 100px;
  bottom: -50px;
}

.profilemain {
  background-color: gray;
}
