.profcard {
  padding: 25px;
  width: 25vw;
  min-width: 25vw;
  height: 75vh;
  border-radius: 20px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 140px;
  top: 500px;
  background-color: white;
}

.profcard button {
  border: solid gray 1px;
  margin: 10px;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
}

.profaction {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  position: absolute;
  height: 25vh;
  width: 20.5vw;
  min-width: 20.5vw;
  right: 135px;
  top: 500px;
  border-radius: 20px;
  border: solid black 1px;
  background-color: white;
}

.profaction img {
  height: 80px;
}

.profbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  border: solid black 1px;
  border-radius: 20px;
  position: absolute;
  height: 40vh;
  width: 50vw;
  right: 135px;
  top: 772px;
  background-color: white;
  padding: 50px;
}

.profilemain {
  background-color: gray;
}

.circle {
  border: black solid 1px;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.followers {
  display: flex;
}

.followers img {
  padding: 25px;
  position: absolute;
  margin-bottom: 40px;
  height: 40vh;
  width: 50vw;
  right: 150px;
  bottom: -225px;
  border-radius: 20px;
  border: solid black 1px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profPic {
  height: 200px;
}

.fixSpace {
  margin: 20px;
}

.profBG {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
  height: 140vh;
}

.profheader {
  height: 360px;
}

.foot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center center fixed;
}

.mentor {
  border: black solid 1px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  max-height: 25%;
  min-height: 25%;
  min-width: 26%;
  max-width: 26%;
  right: 560px;
  top: 500px;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 30px;
  bottom: 70px;
  margin: 5px;
}

.student {
  border: black solid 1px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  height: 25vh;
  width: 25vw;
  right: 576px;
  top: 500px;
}

.mentor-emblem {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 40px;
  top: 20px;
}

.student-emblem {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 40px;
  top: 20px;
}

.mentor-emblem h6 {
  position: absolute;
  bottom: -40px;
  left: 48px;
}

.student-emblem h6 {
  position: absolute;
  bottom: -40px;
  left: 42px;
}

.mentor img {
  height: 150px;
  position: absolute;
  top: 0.55px;
}

#follow-button {
  height: 50px;
  background-color: tomato;
}

#unfollow-button {
  height: 50px;
  background-color: mediumseagreen;
}

.message {
  width: 40vw;
  height: 10vh;
  position: absolute;
  right: 537px;
  top: 405px;
}

.messageForm {
  width: 45vw;
  height: 15vh;
  background-color: gray;
  border-radius: 20px;
}

.follower-avatar img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  * {
    position: relative;
    width: 100%;
  }
}

.message {
  width: 40vw;
  height: 10vh;
  position: absolute;
  right: 537px;
  top: 405px;
}

.messageForm {
  width: 45vw;
  height: 15vh;
  background-color: gray;
  border-radius: 20px;
}
