.messageContainer {
  background-image: linear-gradient(
    to right top,
    #a93ccf,
    #9538ca,
    #8034c4,
    #6a31be,
    #512eb8,
    #403fc2,
    #2b4dca,
    #005ad0,
    #0079e1,
    #0094eb,
    #00aeee,
    #0dc6ee
  );
  height: auto;
  min-height: 100vh;
}

.chat {
  margin: 50px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 410px;
  max-width: 50vw;
}

.to {
  font-size: small;
  /* position: absolute;
  left: 300px;  */
}

.from {
  font-size: small;
}

.time {
  font-size: small;
}

.text {
  margin: 15px;
  word-wrap: break-word;
}

.messageBox {
  background-color: white;
  border-radius: 20px;
  padding-top: 12px;
  padding-left: 3px;
  position: absolute;
  height: 6vh;
  width: 6vw;
  left: 150px;
}
